*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
  }

.sectionHeader{
    text-align: center;
    font-size: 3em;
    color: #fff;
    padding: 1em;
}

.sectionHeader::after{ /* Pseudo Element to add white border bottom */
    content: "";
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    border-bottom: 3px solid white;
    width: 6%;
}

.mainWrapper{
    background: linear-gradient(#1b2735, #090a0f);
}

.container{
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Landing Page */
.landingPage{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

#title{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 3%;
    right: 0;
    color: #fff;
}

#title h1{
    font-size: 3em;
}

#title p{
    text-align: none;
    font-size: 2em;
    padding-top: .7em;
}

#landingDesc{
    color: #fdfd96;
}

.btnContainer{
    text-align: center;
    margin: 1em 0px;;
}

#resumeBtn{
    font-size: 1em;
    padding: .3em .7em;
    border: 4px solid #fff;
    color: #fff;
    background-color: #1b2735;
    transition: .3s;
    outline: none;
}

#resumeBtn:hover{
    color: #1b2735;
    border: 4px solid #1b2735;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.arrow {
    height: 50px;
    width: 60px;
    position: absolute;
    text-align: center;
    top: 90%;
    left: 50%;
    right: 0;
    color: #fff;
  }

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
   
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

/*Nav */
nav{
    height: 8vh;
    position: relative;
}

.burger{
    display: none;
}

.navLinks{
    display: flex;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
    width: 17%;
    position: absolute;
    right: 0;
}

.navLinks li{
    list-style: none;
}

.navLinks a:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    transition: .2s;
}

.navLinks a{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    border-bottom: 1px solid transparent;
}

/* About Me */
.sectionDesc{
    text-align: left;
    font-size: 1.3em;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

/* Skills */
.skillsDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.skills li{
    list-style: none;
    margin: 3em;
}

.skills img{
    display: block;
    margin: 0 auto;
}

.skillsImg{
    text-align: center;
}

.skillsImg img{
    height: 3em;
    width: 3em;
}

.caption{
    font-size: 1.1em;
    color: #fff;
    padding: 1em 0px;
}

#aboutImg{
    height: 23em;
    width: 23em;
}

/* Projects */
.projectsContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); /* adds responsiveness */
    /* minmax = box is flexible but has to have a minimum of 25rem */
  grid-gap: 5rem;
}

.project{
    width: 100%;
    height: 35em;
    margin: 1em 0px;
}

.project img{
    width: 100%;
    height: 20em;
}

.projectTitle{
    text-align: center;
    font-size: 1.4em;
    color: #fff;
    font-weight: 500;
    padding: .8em 0px;;
}

.projectDesc{
    text-align: center;
    font-size: 1.1em;
    width: 90%;
    text-align: left;
    margin: 1rem auto;
    color: #fff;
}

.viewCodeBtns{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 2em auto;
}

.viewCodeButton{
    font-size: .8em;
    font-weight: 600;
    padding: .2em .7em;
    border: 4px solid #fff;
    color: #fff;
    background-color: #1b2735;
    transition: .4s;
    outline: none;
}

.viewCodeButton:hover{
    color: #1b2735;
    border: 4px solid #1b2735;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
}

/* Contact Me */ 
#contactForm{
    margin-top: 6em;
}

#formContact{
    margin-top: 2em;
}

.contactDesc{
    text-align: center;
    font-size: 1.1em;
    color: #fff;
}

#email{
    text-align: center;
    font-size: 1.5em;
    color: #fdfd96;
    padding: 2em 0px;
}

form{
    width: 70%;
    max-width: 600px;
    padding: 20px;
    margin: 0px auto; /*Auto is whats making it centered */
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5)
  }
  
  label{
    display: block; /*block breaks up the elements */
    padding: 15px 0px;
  }
  
  input, textarea{  /*change the size of the input areas and textarea */
    width: 99%;
    padding: 10px;
    border: 1px solid transparent;
    background-color: #ececec;
    outline: none;
    transition: all 0.5s;
  }
  
  input:focus, textarea:focus{
    border: 2px solid #1b2735;
    background-color: #fff;
  }
  
  button{
    border-radius: 5px;
    padding: 15px 15px;
    margin: 20px 0px;
    border: none;
    background-color:  #1b2735;
    color: #fff;
    cursor: pointer;
    transition: background-color .5s;
  }
  
  button:hover{
    background-color: #fdfd96;
    color: #1b2735;
    cursor: pointer;
    font-weight: 600;
  }
  
  textarea{
    min-height: 100px;
    max-height: 300px;
    resize: vertical;
  }
  
  form label{
    display: block;
  }

  .socialIcons{
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin: 0 auto;
    margin-top: 2em;
    padding-bottom: 1em;
}

.socialIcons img{
    height: 2em;
    width: 2em;
    transition: .3s ease-in-out;
}

.socialIcons img:hover{
    transform: scale(1.2);
}


/* Media Queries */
@media screen and (max-width: 1200px){
    .arrow {
        top: 90%;
        left: 48%;
      }

    .navLinks{
        width: 30%;
    }
}


@media screen and (max-width: 768px){
    /* Common Classes */
    .sectionHeader{
        text-align: center;
        font-size: 2em;
        color: #fff;
        font-weight: 800;
        padding: 1em;
    }
    
    .sectionHeader::after{ /* Pseudo Element to add white border bottom */
        content: "";
        display: block;
        margin: 0 auto;
        padding-top: 20px;
        border-bottom: 3px solid white;
        width: 7%;
    }

    /* Nav */
    .navLinks{
        display: flex;
        height: 8vh;
        justify-content: space-around;
        align-items: center;
        width: 35%;
        position: absolute;
        right: 0;
    }

    /* Landing Page */
    #title h1{
        font-size: 2.2em;
    }

    .arrow{
        width: 50px;
        height: 50px;
        top: 90%;
        left: 49%;
    }

    #title p{
        font-size: 1.4em;
        padding-top: .7em;
    }

    /* About Me */
    .sectionDesc{
        text-align: left;
        font-size: 1.2em;
        color: #fff;
        width: 70%;
        margin: 0 auto;
    }

    .btnContainer{
        text-align: center;
        margin: 2em 0px;;
    }

    /* Skills */
    .skillsDiv{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }

    .skills{
        width: 80%;
    }

    .skillsDiv{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .skills li{
        list-style: none;
        margin: 3em;
    }

    .skills img{
        height: 5em;
        width: 5em;
        padding: 1em;
    }

    .caption{
        font-size: 1em;
        color: #fff;
        font-weight: 800;
        padding: 1em 0px;
    }

    #aboutImg{
        height: 20em;
        width: 20em;
    }

    /* Projects */
    .projectDesc{
        width: 95%;
    }

    /* Social Icons */
    .socialIcons{
        width: 17%
    }
}

/* Mobile Area */
@media screen and (max-width: 500px){
    /* Common Classes */
    .sectionHeader::after{ /* Pseudo Element to add white border bottom */
        content: "";
        display: block;
        margin: 0 auto;
        padding-top: 20px;
        border-bottom: 3px solid white;
        width: 15%;
    }
    
    /* Nav */
    .navLinks{
        width: 50%;
    }

    /* Landing Page */
    #title h1{
        font-size: 1.7em;
    }

    #title p{
        font-size: 1.3em;
        padding-top: .7em;
    }

    /* About Me */
    .sectionDesc{
        font-size: 1.1em;
        width: 90%;
    }

    /* Projects */
    .projectDesc{
        width: 75%;
    }

    /* Social Icons */
    .socialIcons{
        width: 20%;
    }
}

@media screen and (max-width: 375px){
    /* Common Classes */
    .sectionHeader::after{ /* Pseudo Element to add white border bottom */
        width: 20%;
    }

    /* Landing */
    .arrow{
        width: 30px;
        height: 30px;
        top: 92%;
        left: 47%;
    }

    /* Nav */
    .navLinks{
        width: 50%;
        font-size: 12px;
    }

    
    /* Landing Page */
    #title h1{
        font-size: 1.7em;
    }

    #title p{
        font-size: 1.1em;
        padding-top: .7em;
    }

    #resumeBtn{
        font-size: .8em;
        padding: .2em .6em;
        border: 3px solid #fff;
        color: #fff;
        background-color: #1b2735;
        transition: .3s;
        outline: none;
    }

    /* About Me */
    .sectionDesc{
        font-size: 1.1em;
        width: 95%;
    }

    /* Projects */
    .projectDesc{
        width: 75%;
    }

     /* Skills */
    .skills{
        width: 80%;
    }

    .skills li{
        margin: 10px;
    }

    .skillsDiv{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .skills img{
        height: 5em;
        width: 5em;
    }

    .caption{
        font-size: 1em;
        color: #fff;
        font-weight: 800;
        padding: 1em 0px;
    }

    #aboutImg{
        height: 17em;
        width: 17em;
    }

    /* Projects */
    .projectsContainer{
        grid-gap: 3rem;
      }
      
    /* Form */
    form{
        width: 90%;
      }

    /* Social Icons */
    .socialIcons{
        width: 30%;
    }
}



